<ion-view title="Chill for Pebble" hide-back-button="true">
	<ion-header-bar class="bar-light" align-title="center">
		<button class="button button-clear" ng-click="doExit()"><img src="template/img/back.png" style="width:25px; margin: 4px 0 0 5px;"></button>
		<h1 class="title">Chill for Pebble</h1>
	</ion-header-bar>
	<ion-content class="has-header">
		<div class="row">
			<div class="col text_grey">
				<ion-list>
					<ion-item>
						<div class="row">
							<div class="col">
								
							</div>
							<div class="col">
								<span class="main-title" ng-click="doSearch()">Search</span>
							</div>
							<div class="col">

							</div>
						</div>
					</ion-item>
					<ion-item>
						<div class="row">
							<div class="col">
								
							</div>
							<div class="col">
								<span class="main-title" ng-click="doContacts()">Contacts</span>
							</div>
							<div class="col">

							</div>
						</div>
					</ion-item>
				</ion-list>
				<div class="row">
					<div class="col main-text">
						<span>Search & add Chillers</span>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>